language: python

install: make install-test

cache: pip

script:
  - make lint
  - python setup.py test

jobs:
  include:
    - stage: test
      python: 3.7
      dist: xenial
      sudo: true
    - stage: code coverage
      python: 3.7
      dist: xenial
      sudo: true
      install:
        - make install-test
        - pip install coveralls
      script:
        - export PYTHONPATH=`pwd`
        - pytest --vcr-record=none
        - coveralls

after_success:
  - codecov
